@charset "UTF-8";
@import url("https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Noto+Sans+TC:wght@100..900&display=swap");
* {
  box-sizing: border-box;
}

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
}

body {
  font-family: "inter", "Noto Sans TC", sans-serif;
  line-height: 1.2;
}

/* 重置標題字重 */
h1, h2, h3, h4, h5, h6 {
  font-weight: normal;
}

/* 重置清單符號 */
ul, ol {
  list-style: none;
}

/* 重置圖片 */
img {
  display: block;
  width: 100%;
}

/* 重置連結 */
a {
  display: block; /* 將a預設的inline改為block，才能設定間距及寬高 */
  color: #666;
  text-decoration: none;
}

@keyframes shaking {
  0% {
    transform: rotate(0deg);
  }
  25% {
    transform: rotate(5deg);
  }
  50% {
    transform: rotate(0deg);
  }
  75% {
    transform: rotate(-5deg);
  }
  100% {
    transform: rotate(0deg);
  }
}
@keyframes upanddown {
  0% {
    transform: translateY(0px);
  }
  50% {
    transform: translateY(-10px);
  }
  100% {
    transform: translateY(0px);
  }
}
@keyframes rotate {
  from {
    transform: translate(-50%, -50%) rotate(0deg);
  }
  to {
    transform: translate(-50%, -50%) rotate(360deg);
  }
}
@keyframes btnMove {
  0% {
    transform: translateX(3px);
  }
  50% {
    transform: translateX(-3px);
  }
  100% {
    transform: translateX(3px);
  }
}
@keyframes discRotate {
  0% {
    transform: translateY(-50%) rotate(0deg);
  }
  50% {
    transform: translateY(-50%) rotate(12deg);
  }
  100% {
    transform: translateY(-50%) rotate(12deg);
  }
}
@keyframes singleDiscRotate {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
@keyframes singleDiscRotateActive {
  from {
    transform: rotate(0deg) scale(6);
  }
  to {
    transform: rotate(360deg) scale(6);
  }
}
@keyframes dotLoading {
  0% {
    transform: translateY(3px);
  }
  25% {
    transform: translateY(-10px);
  }
  50% {
    transform: translateY(3px);
  }
  75% {
    transform: translateY(3px);
  }
  100% {
    transform: translateY(3px);
  }
}
@keyframes logo-dice-rotate {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
.instruction, .instruction .board, .popup-dice-section, .popup-dice-section .popup-dialog-box, .popup-dice-section .popup-dice-container, .big-dice .dice-section, .big-dice .dice-section .dialog-box, .big-dice .dice-section .dice-container, .btn-game, .disc, .count-area, .loading-page .loading-words, .loading-page .loading-words .dialog-box, .loading-page .loading-words .words, .exportsong-page .disc-list, .exportsong-page .disc-list .disc-list-small {
  display: flex;
  justify-content: center;
  align-items: center;
}

body {
  background-color: #A9EA77;
  overflow: hidden;
}

/* 遮罩 */
.overlay {
  position: fixed;
  width: 100%;
  height: 100vh;
  background-color: #000;
  opacity: 0.7;
  z-index: 1000;
}

.logo {
  width: 160px;
  position: fixed;
  left: 24px;
  top: 16px;
  z-index: 1000;
  transform: translateX(-200%);
  cursor: pointer;
}

.logo-in {
  transform: translateX(0);
  transition: 2s ease-in-out;
}

/* 遊戲說明區 */
#popup {
  position: relative;
}

.instruction {
  position: fixed;
  top: 45%;
  left: 50%;
  transform: translate(-50%, -50%);
  min-width: 500px;
  padding: 24px 60px;
  background-color: #A9EA77;
  border: solid 10px #fff;
  border-radius: 18px;
  z-index: 1001;
}
.instruction .board {
  flex-direction: column;
}
.instruction .board .title {
  font-size: 20px;
  font-weight: 700;
  margin: 24px 0;
}
.instruction .board .content {
  font-size: 16px;
  line-height: 1.8;
}
.instruction .board .content span {
  font-weight: 700;
  color: #cb6009;
}

/* 骰子按鈕區 */
.popup-dice-section {
  position: fixed;
  bottom: 70px;
  left: 70px;
  flex-direction: column;
  z-index: 1000;
}
.popup-dice-section .popup-dialog-box {
  flex-direction: column;
  margin-bottom: 20px;
  animation: upanddown 1.5s ease-in-out infinite;
}
.popup-dice-section .popup-dialog-box p {
  color: #000;
  font-size: 14px;
  padding: 10px 32px;
  border-radius: 100px;
  background-color: #fff;
}
.popup-dice-section .popup-dialog-box img {
  width: 20px;
}
.popup-dice-section .popup-dice-container {
  width: 125px;
  height: 125px;
  background-color: #65D212;
  border: solid 3px #fff;
  border-radius: 100%;
  cursor: pointer;
}
.popup-dice-section .popup-dice-container .popup-dice {
  font-size: 60px;
  color: #fff;
  outline: none;
  border: none;
  background: none;
  padding: 0;
  cursor: pointer;
}
.popup-dice-section .popup-dice-container .popup-dice svg {
  background: none;
  display: block;
  margin: auto;
}

/* 大骰子 */
.big-dice {
  position: relative;
}
.big-dice .dice-section {
  position: fixed;
  bottom: 55%;
  left: 50%;
  transform: translate(-50%, 50%);
  flex-direction: column;
  z-index: 1000;
  transition: 0.5s ease;
}
.big-dice .dice-section .dialog-box {
  flex-direction: column;
  margin-bottom: 20px;
  animation: upanddown 1.5s ease-in-out infinite;
  z-index: 1001;
}
.big-dice .dice-section .dialog-box p {
  color: #000;
  font-size: 20px;
  padding: 10px 32px;
  border-radius: 100px;
  background-color: #fff;
}
.big-dice .dice-section .dialog-box img {
  width: 20px;
}
.big-dice .dice-section .dice-container {
  width: 375px;
  height: 375px;
  background-color: #65D212;
  border: solid 10px #fff;
  border-radius: 100%;
  transition: 0.5s ease;
}
.big-dice .dice-section .dice-container .dice {
  font-size: 180px;
  color: #fff;
  outline: none;
  border: none;
  background: none;
  padding: 0;
  cursor: pointer;
}
.big-dice .dice-section .dice-container .dice svg {
  background: none;
  display: block;
  margin: auto;
}
.big-dice .dice-section .dice-container .dice-shaking {
  animation: shaking 0.1s infinite;
}

/* 小骰子 */
.small-dice .dice-section {
  bottom: 70px;
  left: 70px;
  transform: none;
}
.small-dice .dice-section .dialog-box p {
  font-size: 14px;
}
.small-dice .dice-section .dice-container {
  width: 125px;
  height: 125px;
  border: solid 3px #fff;
}
.small-dice .dice-section .dice-container .dice {
  font-size: 60px;
}

/* 共用區 */
.btn-game {
  position: absolute;
  bottom: 60px;
  left: 50%;
  transform: translateX(-50%);
  background-color: #A9EA77;
  z-index: 666;
  padding: 10px 28px;
  border: solid 2px #000;
  border-radius: 100px;
  cursor: pointer;
  transition: 0.4s;
}
.btn-game:hover {
  box-shadow: 0 0 7px 5px rgba(101, 210, 18, 0.5);
  transform: translateX(-50%) translateY(-1px);
  background-color: #D0FBAF;
}
.btn-game p {
  font-size: 24px;
  font-weight: 700;
  color: #000;
  margin-right: 16px;
}
.btn-game img {
  width: 32px;
  height: 32px;
  animation: btnMove 1.5s linear infinite;
}

.btn-left {
  transition: 2s ease-in-out;
  bottom: -120%;
}

/* 右邊唱片 */
.right-disc {
  position: absolute;
  top: -15%;
  left: 90%;
}
.right-disc .rotate {
  position: absolute;
  top: 10%;
  left: 80%;
  transform: translate(-50%, -50%);
}
.right-disc .disc-big {
  width: 900px;
  animation: rotate 15s linear infinite;
}
.right-disc .circle1 {
  width: 980px;
  transform: translate(-50%, -50%) rotate(-130deg);
  animation: rotate 10s linear infinite;
  animation-delay: -5s;
}
.right-disc .circle2 {
  width: 1075px;
  transform: translate(-50%, -50%) rotate(-230deg);
  animation: rotate 14s linear infinite;
  animation-delay: -8s;
}
.right-disc .circle3 {
  width: 1200px;
  transform: translate(-50%, -50%) rotate(-200deg);
  animation: rotate 10s linear infinite;
  animation-delay: -10s;
}

.slideout-right {
  left: 150%;
  transition: 2s ease-in-out;
}

/* 左邊唱片 */
.left-disc {
  position: absolute;
  bottom: -5%;
  left: 1%;
}
.left-disc .rotate {
  position: absolute;
  transform: translate(-50%, -50%);
}
.left-disc .disc-big {
  width: 900px;
  animation: rotate 15s linear infinite;
}
.left-disc .circle2 {
  width: 1100px;
  transform: translate(-50%, -50%) rotate(-230deg);
  animation: rotate 12s linear infinite;
  animation-delay: -8s;
}
.left-disc .circle3 {
  width: 1230px;
  transform: translate(-50%, -50%) rotate(-200deg);
  animation: rotate 10s linear infinite;
  animation-delay: -10s;
}

.slideout-left {
  left: -120%;
  transition: 2s ease-in-out;
}

/* 歌單唱片 */
.disc {
  position: absolute;
  width: 50px;
  height: 50px;
  transform: scale(1);
  transition: 0.4s ease;
}
.disc .center-dot {
  position: absolute;
  animation: singleDiscRotate 10s linear infinite;
}
.disc .black-circle {
  width: 100%;
  height: 100%;
}
.disc .playlist {
  width: 90%;
  height: 90%;
  clip-path: circle(50%);
}
.disc .line {
  width: 80%;
  height: 80%;
}
.disc button {
  width: 20%;
  height: 20%;
  border: 1px solid #A9EA77;
  border-radius: 50%;
  padding: 0;
  cursor: pointer;
  opacity: 0.7;
  transition: 0.4s ease;
}
.disc button:hover {
  opacity: 1;
}
.disc .play-btn {
  background-size: cover;
  background-image: url(./images/btn-play.svg);
}
.disc .pause-btn {
  background-size: cover;
  background-image: url(./images/btn-pause.svg);
}

.active {
  transform: scale(6);
  z-index: 1001;
}

/* 遊戲開始頁面 */
.gamestart-page {
  width: 100%;
  height: 100vh;
}
.gamestart-page .logo-run {
  position: relative;
  transform: translateX(-5%);
}
.gamestart-page .logo-run img {
  position: absolute;
}
.gamestart-page .logo-run .ani-container1 {
  position: absolute;
  left: 164px;
  top: 60px;
  width: 125px;
  height: 60px;
  overflow: hidden;
}
.gamestart-page .logo-run .ani-container1 .roll-group {
  width: 125px;
  height: 60px;
  transform: translateY(70px);
  transition: transform 0.5s ease-out;
}
.gamestart-page .logo-run .ani-container1 .roll-group .roll {
  width: 125px;
}
.gamestart-page .logo-run .ani-container1 .roll-group .roll-dice {
  position: absolute;
  width: 40px;
  left: 46px;
  top: 15px;
  animation: logo-dice-rotate 2s ease-in-out infinite;
}
.gamestart-page .logo-run .ani-container1 .logo-up {
  transform: translateY(0);
}
.gamestart-page .logo-run .ani-container2 {
  position: absolute;
  width: 120px;
  height: 60px;
  left: 310px;
  top: 60px;
  overflow: hidden;
}
.gamestart-page .logo-run .ani-container2 .the {
  width: 120px;
  transform: translateY(70px);
  transition: transform 0.5s 0.3s ease-out;
}
.gamestart-page .logo-run .ani-container2 .logo-up {
  transform: translateY(0);
}
.gamestart-page .logo-run .ani-container3 {
  position: absolute;
  width: 270px;
  height: 75px;
  top: 135px;
  left: 240px;
  overflow: hidden;
}
.gamestart-page .logo-run .ani-container3 .rhymes {
  width: 270px;
  transform: translateY(80px);
  transition: transform 0.5s 0.6s ease-out;
}
.gamestart-page .logo-run .ani-container3 .logo-up {
  transform: translateY(0);
}
.gamestart-page .logo-left {
  transform: translateX(-100%);
  transition: 2s ease-in-out;
}
.gamestart-page .right-disc {
  position: absolute;
  top: 10%;
  left: 80%;
}
.gamestart-page .right-disc .rotate {
  position: absolute;
  top: 10%;
  left: 80%;
  transform: translate(-50%, -50%);
}
.gamestart-page .right-disc .disc-big {
  width: 900px;
  animation: rotate 15s linear infinite;
}
.gamestart-page .right-disc .circle1 {
  width: 980px;
  transform: translate(-50%, -50%) rotate(-130deg);
  animation: rotate 10s linear infinite;
  animation-delay: -5s;
}
.gamestart-page .right-disc .circle2 {
  width: 1075px;
  transform: translate(-50%, -50%) rotate(-230deg);
  animation: rotate 14s linear infinite;
  animation-delay: -8s;
}
.gamestart-page .right-disc .circle3 {
  width: 1200px;
  transform: translate(-50%, -50%) rotate(-200deg);
  animation: rotate 10s linear infinite;
  animation-delay: -10s;
}
.gamestart-page .slideout-right {
  left: 240%;
  transition: 2s ease-in-out;
}
.gamestart-page .left-disc .disc-big {
  width: 900px;
  animation: rotate 15s linear infinite;
}
.gamestart-page .left-disc .circle2 {
  width: 1100px;
  transform: translate(-50%, -50%) rotate(-230deg);
  animation: rotate 12s linear infinite;
  animation-delay: -8s;
}
.gamestart-page .left-disc .circle3 {
  width: 1230px;
  transform: translate(-50%, -50%) rotate(-200deg);
  animation: rotate 10s linear infinite;
  animation-delay: -10s;
}
.gamestart-page .slideout-left {
  left: -120%;
  transition: 2s ease-in-out;
}

/* 歌曲清單頁面 */
.count-area {
  position: absolute;
  bottom: 110%;
  left: 50%;
  transform: translateX(-50%);
  background-color: #D0FBAF;
  z-index: 666;
  padding: 10px 28px;
  border: solid 2px #000;
  border-radius: 100px;
  transition: 1s ease-in-out;
  z-index: 1000;
}
.count-area span {
  padding: 0 4px;
  font-weight: 700;
}

.count-in {
  bottom: 90%;
}

/* 背景 */
.bg-circle .rotate {
  position: fixed;
  z-index: -1;
}
.bg-circle .circle1 {
  width: 1120px;
  left: -1300px;
  transform: translate(-120%, -50%) rotate(-100deg);
  animation: rotate 10s linear infinite;
  animation-delay: -5s;
  transition: 2s ease;
}
.bg-circle .slidein-circle {
  left: -350px;
}

.songlist-page .circle1 {
  z-index: 889;
}

/* 介紹區遮罩 */
.linear-overlay {
  position: fixed;
  width: 100%;
  height: 100vh;
  display: block;
  background: linear-gradient(to bottom, rgba(169, 234, 119, 0.9) 0%, rgba(169, 234, 119, 0) 40%, rgba(169, 234, 119, 0) 70%, rgba(169, 234, 119, 0.9) 0%);
  opacity: 0;
  z-index: 888;
}

.overlay-appear {
  opacity: 1;
  transition: 1s ease;
}

/* 歌曲介紹文字 */
.intro-list {
  position: fixed;
  transform: translateX(-240%);
  margin-top: -25vh;
  width: 200px;
  margin-left: 20%;
  display: flex;
  justify-content: flex-start;
  align-items: flex-start;
  flex-direction: column;
  z-index: 777;
  transition: 2s ease;
}
.intro-list .song-intro {
  height: 50vh;
  align-content: center;
}
.intro-list .song-intro h4 {
  font-size: 20px;
  margin-bottom: 8px;
  letter-spacing: 0.05rem;
}
.intro-list .song-intro h3 {
  font-size: 30px;
  font-weight: 700;
  margin-bottom: 16px;
}
.intro-list .song-intro p {
  font-size: 14px;
  line-height: 2;
}

/* 控制滑動 */
.slidein-intro {
  transform: translateX(0);
}

/* 唱片區 */
.circle-path {
  position: fixed;
  right: -700px;
  top: 50%;
  transform: translate(120%, -50%);
  width: 1240px;
  height: 1240px;
  border: solid 4px #fff;
  border-radius: 50%;
  z-index: 888;
  transition: 2s ease;
}

.disc-position {
  position: fixed;
  right: -700px;
  top: 50%;
  transform: translate(120%, -50%);
  z-index: 998;
  transition: 2s ease;
}
.disc-position .disc-list {
  position: relative;
  width: 1240px;
  height: 1240px;
  transition: 2.5s ease;
}
.disc-position .disc-list .dot {
  position: absolute;
  width: 20px;
  height: 20px;
  background-color: #fff;
  display: none;
}

/* 控制滑動 */
.slidein-disc {
  transform: translate(0, -50%);
}

/* 匯出歌單過場畫面 */
.loading-page {
  width: 100%;
  height: 100vh;
}
.loading-page .logo {
  transform: translateX(0);
}
.loading-page .loading-words {
  height: 100%;
  flex-direction: column;
}
.loading-page .loading-words .dialog-box {
  flex-direction: column;
  margin-bottom: 20px;
  animation: upanddown 1.5s ease-in-out infinite;
}
.loading-page .loading-words .dialog-box p {
  color: #449605;
  font-size: 14px;
  padding: 10px 32px;
  border-radius: 100px;
  background-color: #fff;
}
.loading-page .loading-words .dialog-box img {
  width: 20px;
}
.loading-page .loading-words .words p {
  font-size: 24px;
  margin-right: 16px;
}
.loading-page .loading-words .words .little-dot {
  display: inline-block;
  width: 12px;
  height: 12px;
  background-color: #fff;
  border-radius: 50%;
  margin-right: 16px;
  animation: dotLoading 2s linear infinite;
}
.loading-page .loading-words .words .dot-two {
  background-color: #68D614;
  animation-delay: 0.3s;
}
.loading-page .loading-words .words .dot-three {
  background-color: #53B00D;
  animation-delay: 0.6s;
}
.loading-page .loading-words .words .dot-four {
  background-color: #449605;
  animation-delay: 0.9s;
}
.loading-page .right-disc {
  top: -15%;
  left: 90%;
}
.loading-page .right-disc .disc-big {
  width: 800px;
}
.loading-page .right-disc .circle1 {
  width: 850px;
}
.loading-page .right-disc .circle2 {
  width: 930px;
}
.loading-page .right-disc .circle3 {
  width: 1080px;
}
.loading-page .right-disc-out {
  left: 160%;
  transition: 3.5s ease;
}
.loading-page .left-disc {
  top: 95%;
}
.loading-page .left-disc .disc-big {
  width: 730px;
}
.loading-page .left-disc .circle2 {
  width: 900px;
}
.loading-page .left-disc .circle3 {
  width: 980px;
}
.loading-page .left-disc-out {
  left: -70%;
  transition: 3.5s ease;
}

/* 匯出歌單畫面 */
.exportsong-page .btn-game {
  bottom: -60%;
}
.exportsong-page .btn-in {
  bottom: 60px;
  transition: 0.5s ease-in-out;
}
.exportsong-page .logo {
  transform: translateX(0);
}
.exportsong-page .count-area {
  bottom: 90%;
}
.exportsong-page .arrow {
  position: absolute;
  top: 35vh;
  z-index: 999;
  width: 40px;
  height: 40px;
  border: none;
  background: #fff;
  border-radius: 50%;
  z-index: 1000;
  cursor: pointer;
}
.exportsong-page .arrow img {
  text-align: center;
  width: 24px;
  height: 24px;
}
.exportsong-page .prev-btn {
  left: 30px;
}
.exportsong-page .next-btn {
  right: 30px;
}
.exportsong-page .next-btn img {
  transform: translateX(2px);
}
.exportsong-page .disc-list {
  position: absolute;
  flex-direction: column;
  top: 25vh;
  left: 50%;
  margin: auto;
  transition: 0.5s ease;
  transform: translateX(-50%);
}
.exportsong-page .disc-list .whole-disc {
  display: flex;
  align-items: center;
  transform: scale(1);
  transition: 0.3s ease;
}
.exportsong-page .disc-list .whole-disc .disc {
  position: relative;
  width: 170px;
  height: 170px;
  opacity: 0.5;
  margin: 24px;
}
.exportsong-page .disc-list .whole-disc .disc .center-dot {
  animation: none;
}
.exportsong-page .disc-list .whole-disc .disc button {
  border: 3px solid #A9EA77;
}
.exportsong-page .disc-list .whole-disc .song-info-simple {
  display: flex;
  justify-content: flex-start;
  align-items: flex-start;
  flex-direction: column;
  width: 300px;
}
.exportsong-page .disc-list .whole-disc .song-info-simple p {
  font-size: 24px;
  margin-bottom: 8px;
}
.exportsong-page .disc-list .whole-disc .song-info-simple h3 {
  font-size: 32px;
  font-weight: 700;
}
.exportsong-page .disc-list .whole-disc .active {
  opacity: 1;
  transform: scale(2);
  margin: 0 120px;
}
.exportsong-page .disc-list .disc-current {
  margin-bottom: 150px;
}
.exportsong-page .disc-list .disc-list-small .whole-disc {
  margin: 0 8px;
  cursor: pointer;
  opacity: 0.3;
}
.exportsong-page .disc-list .disc-list-small .whole-disc .disc {
  width: 80px;
  height: 80px;
  opacity: 1;
  margin: 12px 0;
}
.exportsong-page .disc-list .disc-list-small .active {
  opacity: 1;
  transform: scale(1);
}
.exportsong-page .bg-circle .circle1 {
  left: -800px;
}
.exportsong-page .bg-circle .left-in {
  left: -300px;
  transition: 2s ease;
}
.exportsong-page .bg-circle .right-disc {
  top: 900px;
  left: 2000px;
}
.exportsong-page .bg-circle .right-disc .rotate {
  position: absolute;
  top: 10%;
  left: 80%;
  transform: translate(-50%, -50%);
}
.exportsong-page .bg-circle .right-disc .circle1 {
  width: 700px;
}
.exportsong-page .bg-circle .right-disc .circle2 {
  width: 1075px;
}
.exportsong-page .bg-circle .right-disc .circle3 {
  width: 1200px;
}
.exportsong-page .bg-circle .right-in {
  left: 1400px;
  transition: 2s ease;
}

/* footer */
footer {
  position: fixed;
  bottom: 0;
  width: 100%;
  height: 5vh;
  display: flex;
  justify-content: space-between;
  background-color: #000;
  z-index: 999;
  padding: 0 24px;
}
footer p {
  color: #D0FBAF;
  font-size: 12px;
  text-align: center;
  line-height: 5vh;
}/*# sourceMappingURL=style.css.map */