@use 'reset';
@use 'keyframes';
@use 'variables' as *;
@use 'function' as *;

body {
    background-color: $primary_color_green_default;
    overflow: hidden;
}

/* 遮罩 */
.overlay {
    position: fixed;
    width: 100%;
    height: 100vh;
    background-color: $neutral_black;
    opacity: 0.7;
    z-index: 1000;
}

.logo {
    width: 160px;
    position: fixed;
    left: $interval_xl;
    top: $interval_l;
    z-index: 1000;
    transform: translateX(-200%);
    cursor: pointer;
}

.logo-in {
    transform: translateX(0);
    transition: 2s ease-in-out;
}

/* 遊戲說明區 */
#popup {
    position: relative;
}

.instruction {
    @extend %box-center;
    position: fixed;
    top: 45%;
    left: 50%;
    transform: translate(-50%, -50%);
    min-width: 500px;
    padding: 24px 60px;
    background-color: $primary_color_green_default;
    border: solid 10px $neutral_white;
    border-radius: 18px;
    z-index: 1001;

    .board {
        @extend %box-center;
        flex-direction: column;

        .title {
            font-size: $fontsize_xl;
            font-weight: $font_bold;
            margin: 24px 0;
        }

        .content {
            font-size: $fontsize_lg;
            line-height: 1.8;

            .important {
                font-size: $fontsize_xl;
                font-weight: $font_bold;
            }

            span {
                font-weight: $font_bold;
                color: $point_color;
            }
        }
    }
}

/* 骰子按鈕區 */
.popup-dice-section {
    position: fixed;
    bottom: 70px;
    left: 70px;
    @extend %box-center;
    flex-direction: column;
    z-index: 1000;

    .popup-dialog-box {
        @extend %box-center;
        flex-direction: column;
        margin-bottom: 20px;
        animation: upanddown 1.5s ease-in-out infinite;

        p {
            color: $neutral_black;
            font-size: $fontsize_md;
            padding: 10px 32px;
            border-radius: 100px;
            background-color: $neutral_white;
        }

        img {
            width: 20px;
        }
    }

    .popup-dice-container {
        width: 125px;
        height: 125px;
        background-color: $primary_color_green_dark;
        border: solid 3px $neutral_white;
        border-radius: 100%;
        @extend %box-center;
        cursor: pointer;

        .popup-dice {
            font-size: 60px;
            color: $neutral_white;
            outline: none;
            border: none;
            background: none;
            padding: 0;
            cursor: pointer;

            svg {
                background: none;
                display: block;
                margin: auto;
            }
        }
    }
}

/* 大骰子 */
.big-dice {
    position: relative;

    .dice-section {
        position: fixed;
        bottom: 55%;
        left: 50%;
        transform: translate(-50%, 50%);
        @extend %box-center;
        flex-direction: column;
        z-index: 1000;
        transition: .5s ease;

        .dialog-box {
            @extend %box-center;
            flex-direction: column;
            margin-bottom: 20px;
            animation: upanddown 1.5s ease-in-out infinite;
            z-index: 1001;

            p {
                color: $neutral_black;
                font-size: $fontsize_xl;
                padding: 10px 32px;
                border-radius: 100px;
                background-color: $neutral_white;
            }

            img {
                width: 20px;
            }
        }

        .dice-container {
            width: 375px;
            height: 375px;
            background-color: $primary_color_green_dark;
            border: solid 10px $neutral_white;
            border-radius: 100%;
            @extend %box-center;
            transition: .5s ease;

            .dice {
                font-size: 180px;
                color: $neutral_white;
                outline: none;
                border: none;
                background: none;
                padding: 0;
                cursor: pointer;

                svg {
                    background: none;
                    display: block;
                    margin: auto;
                }
            }

            .dice-shaking {
                animation: shaking 0.1s infinite;
            }
        }
    }
}

/* 小骰子 */
.small-dice {
    .dice-section {
        bottom: 70px;
        left: 70px;
        transform: none;

        .dialog-box {
            p {
                font-size: $fontsize_md;
            }
        }

        .dice-container {
            width: 125px;
            height: 125px;
            border: solid 3px $neutral_white;

            .dice {
                font-size: 60px;
            }
        }
    }
}

/* 共用區 */
.btn-game {
    position: absolute;
    bottom: 60px;
    left: 50%;
    transform: translateX(-50%);
    background-color: $primary_color_green_default;
    z-index: 666;
    @extend %box-center;
    padding: 10px 28px;
    border: solid 2px $neutral_black;
    border-radius: 100px;
    cursor: pointer;
    transition: .4s;

    &:hover {
        box-shadow: 0 0 7px 5px rgba($primary_color_green_dark, 0.5);
        transform: translateX(-50%) translateY(-1px);
        background-color: $primary_color_green_light;
    }

    p {
        font-size: 24px;
        font-weight: $font_bold;
        color: $neutral_black;
        margin-right: $interval_l;
    }

    img {
        width: 32px;
        height: 32px;
        animation: btnMove 1.5s linear infinite;
    }
}

.btn-left {
    transition: 2s ease-in-out;
    bottom: -120%;
}

/* 右邊唱片 */
.right-disc {
    position: absolute;
    top: -15%;
    left: 90%;

    .rotate {
        position: absolute;
        top: 10%;
        left: 80%;
        transform: translate(-50%, -50%);
    }

    .disc-big {
        width: 900px;
        animation: rotate 15s linear infinite;
    }

    .circle1 {
        width: 980px;
        transform: translate(-50%, -50%) rotate(-130deg);
        animation: rotate 10s linear infinite;
        animation-delay: -5s;
    }

    .circle2 {
        width: 1075px;
        transform: translate(-50%, -50%) rotate(-230deg);
        animation: rotate 14s linear infinite;
        animation-delay: -8s;
    }

    .circle3 {
        width: 1200px;
        transform: translate(-50%, -50%) rotate(-200deg);
        animation: rotate 10s linear infinite;
        animation-delay: -10s;
    }
}

.slideout-right {
    left: 150%;
    transition: 2s ease-in-out;
}

/* 左邊唱片 */
.left-disc {
    position: absolute;
    bottom: -5%;
    left: 1%;

    .rotate {
        position: absolute;
        transform: translate(-50%, -50%);
    }

    .disc-big {
        width: 900px;
        animation: rotate 15s linear infinite;
    }

    .circle2 {
        width: 1100px;
        transform: translate(-50%, -50%) rotate(-230deg);
        animation: rotate 12s linear infinite;
        animation-delay: -8s;
    }

    .circle3 {
        width: 1230px;
        transform: translate(-50%, -50%) rotate(-200deg);
        animation: rotate 10s linear infinite;
        animation-delay: -10s;
    }
}

.slideout-left {
    left: -120%;
    transition: 2s ease-in-out;
}

/* 歌單唱片 */
.disc {
    position: absolute;
    width: 50px;
    height: 50px;
    @extend %box-center;
    transform: scale(1);
    transition: 0.4s ease;

    .center-dot {
        position: absolute;
        animation: singleDiscRotate 10s linear infinite;
    }

    .black-circle {
        width: 100%;
        height: 100%;
    }

    .playlist {
        width: 90%;
        height: 90%;
        clip-path: circle(50%);
    }

    .line {
        width: 80%;
        height: 80%;
    }

    button {
        width: 20%;
        height: 20%;
        border: 1px solid $primary_color_green_default;
        border-radius: 50%;
        padding: 0;
        cursor: pointer;
        opacity: 0.7;
        transition: 0.4s ease;

        &:hover {
            opacity: 1;
        }
    }

    .play-btn {
        background-size: cover;
        background-image: url(./images/btn-play.svg);
    }

    .pause-btn {
        background-size: cover;
        background-image: url(./images/btn-pause.svg);
    }
}

.active {
    transform: scale(6);
    z-index: 1001;
}

/* 遊戲開始頁面 */
.gamestart-page {
    width: 100%;
    height: 100vh;

    .logo-run {
        position: relative;
        transform: translateX(-5%);

        img {
            position: absolute;
        }

        .ani-container1 {
            position: absolute;
            left: 164px;
            top: 60px;
            width: 125px;
            height: 60px;
            overflow: hidden;

            .roll-group {
                width: 125px;
                height: 60px;
                transform: translateY(70px);
                transition: transform 0.5s ease-out;

                .roll {
                    width: 125px;
                    // left: 164px;
                    // top: 60px;
                }

                .roll-dice {
                    position: absolute;
                    width: 40px;
                    left: 46px;
                    top: 15px;
                    animation: logo-dice-rotate 2s ease-in-out infinite;
                }
            }

            .logo-up {
                transform: translateY(0);
            }
        }

        .ani-container2 {
            position: absolute;
            width: 120px;
            height: 60px;
            left: 310px;
            top: 60px;
            overflow: hidden;

            .the {
                width: 120px;
                transform: translateY(70px);
                transition: transform 0.5s 0.3s ease-out;
            }

            .logo-up {
                transform: translateY(0);
            }
        }

        .ani-container3 {
            position: absolute;
            width: 270px;
            height: 75px;
            top: 135px;
            left: 240px;
            overflow: hidden;

            .rhymes {
                width: 270px;
                transform: translateY(80px);
                transition: transform 0.5s 0.6s ease-out;
            }

            .logo-up {
                transform: translateY(0);
            }
        }
    }

    .logo-left {
        transform: translateX(-100%);
        transition: 2s ease-in-out;
    }

    .right-disc {
        position: absolute;
        top: 10%;
        left: 80%;

        .rotate {
            position: absolute;
            top: 10%;
            left: 80%;
            transform: translate(-50%, -50%);
        }

        .disc-big {
            width: 900px;
            animation: rotate 15s linear infinite;
        }

        .circle1 {
            width: 980px;
            transform: translate(-50%, -50%) rotate(-130deg);
            animation: rotate 10s linear infinite;
            animation-delay: -5s;
        }

        .circle2 {
            width: 1075px;
            transform: translate(-50%, -50%) rotate(-230deg);
            animation: rotate 14s linear infinite;
            animation-delay: -8s;
        }

        .circle3 {
            width: 1200px;
            transform: translate(-50%, -50%) rotate(-200deg);
            animation: rotate 10s linear infinite;
            animation-delay: -10s;
        }
    }

    .slideout-right {
        left: 240%;
        transition: 2s ease-in-out;
    }

    .left-disc {
        .disc-big {
            width: 900px;
            animation: rotate 15s linear infinite;
        }

        .circle2 {
            width: 1100px;
            transform: translate(-50%, -50%) rotate(-230deg);
            animation: rotate 12s linear infinite;
            animation-delay: -8s;
        }

        .circle3 {
            width: 1230px;
            transform: translate(-50%, -50%) rotate(-200deg);
            animation: rotate 10s linear infinite;
            animation-delay: -10s;
        }
    }

    .slideout-left {
        left: -120%;
        transition: 2s ease-in-out;
    }
}

/* 歌曲清單頁面 */
.gameover-popup {
    .popup-content {
        position: fixed;
        left: 50%;
        top: 53%;
        transform: translate(-50%, -50%);
        @extend %box-center;
        flex-direction: column;
        opacity: 0;
        background-color: $primary_color_green_dark;
        border: 5px solid $neutral_white;
        border-radius: 16px;
        padding: 16px 32px;
        z-index: 1200;

        p {
            font-size: $fontsize_md;
            margin-bottom: $interval_s;
            @extend %box-center;

            &::before,
            &::after {
                content: '';
                display: block;
                transform: translateX(-5px);
                width: 7px;
                height: 7px;
                background-color: $neutral_black;
                border-radius: 50%;
            }

            &::after {
                transform: translateX(5px);
            }
        }

        h3 {
            margin-bottom: $interval_m;
            font-size: $fontsize_xl;
            font-weight: $font_bold;
        }

        button {
            border: 2px solid $neutral_white;
            background-color: $primary_color_green_default;
            font-size: $fontsize_md;
            border-radius: 99px;
            padding: 4px 16px;
            color: $neutral_black;
            cursor: pointer;
            transition: 0.3s ease;

            &:hover {
                background-color: $neutral_black;
                color: $neutral_white;
            }
        }
    }

    .pop-in {
        opacity: 1;
        top: 50%;
        transition: 0.5s ease-in-out;
    }
}

.count-area {
    position: absolute;
    bottom: 110%;
    left: 50%;
    transform: translateX(-50%);
    background-color: $primary_color_green_light;
    z-index: 666;
    @extend %box-center;
    padding: 10px 28px;
    border: solid 2px $neutral_black;
    border-radius: 100px;
    transition: 1s ease-in-out;
    z-index: 1000;

    span {
        padding: 0 4px;
        font-weight: $font_bold;
    }
}

.remind {
    position: absolute;
    bottom: 84%;
    left: 50%;
    transform: translateX(-50%);
    opacity: 0;
    font-size: $fontsize_md;
    font-weight: $font_bold;
    color: #ea8c28;
    transition: 1s ease-in-out;
    z-index: 999;
    animation: remind 2s ease infinite;
}

.count-in {
    bottom: 90%;
}

.remind-in {
    bottom: 86%;
    opacity: 1;
}

/* 背景 */
.bg-circle {
    .rotate {
        position: fixed;
        z-index: -1;
    }

    .circle1 {
        width: 1120px;
        left: -1300px;
        transform: translate(-120%, -50%) rotate(-100deg);
        animation: rotate 10s linear infinite;
        animation-delay: -5s;
        transition: 2s ease;
    }

    .slidein-circle {
        left: -350px;
        // transition: 2s ease;
    }
}

.songlist-page {
    .circle1 {
        z-index: 889;
    }
}

/* 介紹區遮罩 */
.linear-overlay {
    position: fixed;
    width: 100%;
    height: 100vh;
    display: block;
    background: linear-gradient(to bottom, rgba($primary_color_green_default, 0.9) 0%, rgba($primary_color_green_default, 0) 40%, rgba($primary_color_green_default, 0) 70%, rgba($primary_color_green_default, 0.9) 0%);
    opacity: 0;
    z-index: 888;
}

.overlay-appear {
    opacity: 1;
    transition: 1s ease;
}

/* 歌曲介紹文字 */
.intro-list {
    position: fixed;
    transform: translateX(-240%);
    margin-top: -25vh;
    width: 200px;
    margin-left: 20%;
    display: flex;
    justify-content: flex-start;
    align-items: flex-start;
    flex-direction: column;
    z-index: 777;
    transition: 2s ease;

    .song-intro {
        height: 50vh;
        align-content: center;

        h4 {
            font-size: $fontsize_xl;
            margin-bottom: $interval_s;
            letter-spacing: 0.05rem;
        }

        h3 {
            font-size: 30px;
            font-weight: $font_bold;
            margin-bottom: $interval_l;
        }

        p {
            font-size: $fontsize_md;
            line-height: 2;
        }
    }
}

/* 控制滑動 */
.slidein-intro {
    transform: translateX(0);
}

/* 唱片區 */
.circle-path {
    position: fixed;
    right: -700px;
    top: 50%;
    transform: translate(120%, -50%);
    width: 1240px;
    height: 1240px;
    border: solid 4px $neutral_white;
    border-radius: 50%;
    z-index: 888;
    transition: 2s ease;
}

.disc-position {
    position: fixed;
    right: -700px;
    top: 50%;
    transform: translate(120%, -50%);
    z-index: 998;
    transition: 2s ease;

    .disc-list {
        position: relative;
        width: 1240px;
        height: 1240px;
        transition: 2.5s ease;
        // border: solid 1px;

        .dot {
            position: absolute;
            width: 20px;
            height: 20px;
            background-color: $neutral_white;
            display: none;
        }
    }
}

/* 控制滑動 */
.slidein-disc {
    transform: translate(0, -50%);
}

/* 匯出歌單過場畫面 */
.loading-page {
    width: 100%;
    height: 100vh;

    .logo {
        transform: translateX(0);
    }

    .loading-words {
        height: 100%;
        @extend %box-center;
        flex-direction: column;

        .dialog-box {
            @extend %box-center;
            flex-direction: column;
            margin-bottom: 20px;
            animation: upanddown 1.5s ease-in-out infinite;

            p {
                color: $color_dot4;
                font-size: $fontsize_md;
                padding: 10px 32px;
                border-radius: 100px;
                background-color: $neutral_white;
            }

            img {
                width: 20px;
            }
        }

        .words {
            @extend %box-center;

            p {
                font-size: $fontsize_xxl;
                margin-right: $interval_l;
            }

            .little-dot {
                display: inline-block;
                width: 12px;
                height: 12px;
                background-color: $neutral_white;
                border-radius: 50%;
                margin-right: $interval_l;

                animation: dotLoading 2s linear infinite;
            }

            .dot-two {
                background-color: $color_dot2;
                animation-delay: 0.3s;
            }

            .dot-three {
                background-color: $color_dot3;
                animation-delay: 0.6s;
            }

            .dot-four {
                background-color: $color_dot4;
                animation-delay: 0.9s;
            }
        }
    }

    .right-disc {
        top: -15%;
        left: 90%;

        .disc-big {
            width: 800px;
        }

        .circle1 {
            width: 850px;
        }

        .circle2 {
            width: 930px;
        }

        .circle3 {
            width: 1080px;
        }
    }

    .right-disc-out {
        left: 160%;
        transition: 3.5s ease;
    }

    .left-disc {
        top: 95%;

        .disc-big {
            width: 730px;
        }

        .circle2 {
            width: 900px;
        }

        .circle3 {
            width: 980px;
        }
    }

    .left-disc-out {
        left: -70%;
        transition: 3.5s ease;
    }
}

/* 匯出歌單畫面 */
.exportsong-page {

    .btns {
        position: absolute;
        bottom: -60%;
        left: 50%;
        transform: translateX(-50%);
        display: flex;

        .btn-game-f {
            background-color: $primary_color_green_default;
            z-index: 666;
            @extend %box-center;
            padding: 10px 28px;
            border: solid 2px $neutral_black;
            border-radius: 100px;
            cursor: pointer;
            transition: .4s;
            margin-right: $interval_l;

            &:hover {
                box-shadow: 0 0 7px 5px rgba($primary_color_green_dark, 0.5);
                transform: translateY(-1px);
                background-color: $primary_color_green_light;
            }

            p {
                font-size: 24px;
                font-weight: $font_bold;
                color: $neutral_black;
                margin-right: $interval_l;
            }

            img {
                width: 32px;
                height: 32px;
                animation: btnMove 1.5s linear infinite;
            }
        }
    }

    .btn-in {
        bottom: 60px;
        transition: 1s ease-in-out;
    }

    .logo {
        transform: translateX(0);
    }

    .count-area {
        bottom: 90%;
    }

    // .count-in {
    //     bottom: 120%;
    // }

    .arrow {
        position: absolute;
        top: 35vh;
        z-index: 999;
        width: 40px;
        height: 40px;
        border: none;
        background: $neutral_white;
        border-radius: 50%;
        z-index: 1000;
        cursor: pointer;

        img {
            text-align: center;
            width: 24px;
            height: 24px;
        }
    }

    .prev-btn {
        left: 30px;
    }

    .next-btn {
        right: 30px;

        img {
            transform: translateX(2px);
        }
    }

    .disc-list {
        position: absolute;
        @extend %box-center;
        flex-direction: column;
        top: 25vh;
        left: 50%;
        margin: auto;
        transition: 0.5s ease;
        transform: translateX(-50%);

        .whole-disc {
            display: flex;
            align-items: center;
            transform: scale(1);
            transition: 0.3s ease;

            .disc {
                position: relative;
                width: 170px;
                height: 170px;
                opacity: 0.5;
                margin: $interval_xl;

                .center-dot {
                    animation: none;
                }

                button {
                    border: 3px solid $primary_color_green_default;
                }
            }

            .song-info-simple {
                display: flex;
                justify-content: flex-start;
                align-items: flex-start;
                flex-direction: column;
                width: 300px;

                p {
                    font-size: $fontsize_xxl;
                    margin-bottom: $interval_s;
                }

                h3 {
                    font-size: 32px;
                    font-weight: $font_bold;
                }
            }

            .active {
                opacity: 1;
                transform: scale(2);
                margin: 0 120px;
            }
        }

        .disc-current {
            margin-bottom: 150px;
        }

        .disc-list-small {
            @extend %box-center;

            .whole-disc {
                margin: 0 $interval_s;
                cursor: pointer;
                opacity: 0.3;

                .disc {
                    width: 80px;
                    height: 80px;
                    opacity: 1;
                    margin: $interval_m 0;
                }
            }

            .active {
                opacity: 1;
                transform: scale(1);
            }
        }
    }

    .bg-circle {
        .circle1 {
            left: -800px;
        }

        .left-in {
            left: -300px;
            transition: 2s ease;
        }

        .right-disc {
            top: 900px;
            left: 2000px;

            .rotate {
                position: absolute;
                top: 10%;
                left: 80%;
                transform: translate(-50%, -50%);
            }

            .circle1 {
                width: 700px;
            }

            .circle2 {
                width: 1075px;
            }

            .circle3 {
                width: 1200px;
            }
        }

        .right-in {
            left: 1400px;
            transition: 2s ease;
        }
    }
}

/* 分享卡片 */
#share-body {
    height: 100vh;
    overflow-y: auto;
}

.share-page {
    height: 100vh;
    overflow-y: auto;
    @extend %box-center;
    flex-direction: column;

    .share-card {
        width: 393px;
        border-radius: $interval_s;
        padding: $interval_xl;
        background-color: $primary_color_green_light;
        z-index: 1200;

        .content-section {
            position: relative;
            display: flex;
            justify-content: center;
            width: 100%;
            border: solid 3px $neutral_black;
            border-radius: 8px 8px 0 0;

            .logo-title {
                position: absolute;
                top: -10px;
                width: 200px;
                background-color: $primary_color_green_light;
                padding: 0 $interval_s;
            }

            .personal-title {
                width: 100%;
                display: flex;
                justify-content: center;
                margin: 24px 0 16px 0;

                img {
                    width: 32px;
                    height: 32px;
                }

                h2 {
                    font-size: $fontsize_xxl;
                    font-weight: $font_bold;
                    margin: 0 40px;
                }
            }
        }

        .share-list {
            width: 100%;
            border: solid 3px $neutral_black;
            border-radius: 0 0 8px 8px;
            background-color: $neutral_white;
            margin-top: -3px;
            padding: 8px 12px;

            .info-card {
                display: flex;
                align-items: center;
                margin-bottom: $interval_xs;

                .number {
                    width: 15px;
                    font-size: $fontsize_md;
                    font-weight: $font_bold;
                }

                .disc {
                    position: relative;
                    margin: 0 $interval_m;

                    .center-dot {
                        animation: none;
                    }
                }

                .song-info-simple {
                    display: flex;
                    justify-content: flex-start;
                    flex-direction: column;

                    p {
                        font-size: 10px;
                        margin-bottom: $interval_xs;
                    }

                    h3 {
                        font-size: $fontsize_md;
                        font-weight: $font_bold;
                    }
                }
            }
        }
    }

    .share-btns {
        z-index: 1200;

        .save-btn {
            border: solid 2px $neutral_black;
            background-color: $primary_color_green_dark;
            border-radius: 99px;
            font-size: $fontsize_md;
            font-weight: $font_bold;
            padding: 8px 24px;
            margin: 12px 4px 12px 4px;
            cursor: pointer;
            transition: 0.35s ease;
    
            &:hover {
                background-color: $neutral_black;
                border: 2px solid $neutral_white;
                color: $neutral_white;
            }
        }
    }

    

    .overlay-noshow {
        position: fixed;
        width: 100%;
        height: 100vh;
        background: transparent;
        z-index: 1200;
    }

    .prompt {
        position: absolute;
        background-color: $primary_color_green_dark;
        border: 2px solid $neutral_black;
        border-radius: 99px;
        font-size: $fontsize_md;
        color: $neutral_black;
        font-weight: $font_bold;
        padding: 8px 24px;
        z-index: 1201;
        cursor: pointer;
        transition: 0.35s ease;

        &:hover {
            background-color: $neutral_black;
            border: 2px solid $neutral_white;
            color: $neutral_white;
        }
    }
}

/* footer */
footer {
    position: fixed;
    bottom: 0;
    width: 100%;
    height: 5vh;
    display: flex;
    justify-content: space-between;
    background-color: $neutral_black;
    z-index: 999;
    padding: 0 $interval_xl;

    p {
        color: $primary_color_green_light;
        font-size: $fontsize_sm;
        text-align: center;
        line-height: 5vh;
    }
}