$primary_color_green_light: #D0FBAF;
$primary_color_green_default: #A9EA77;
$primary_color_green_dark: #65D212;

$color_dot2: #68D614;
$color_dot3: #53B00D;
$color_dot4: #449605;


$neutral_white: #fff;
$neutral_black: #000;

$point_color: #cb6009;